body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A1014;
    margin: 0px;

    font-family: 'Comforter', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shizuru', cursive;
    font-family: 'Work Sans', sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    width: 970px;
    background: url(Imagens/fundo.png);
}

div > header{
    background-color: #202C33;
    color: white;
    width: 100%;
    text-align: center;
}

div > ul{
    overflow-y: scroll;
    padding: 0;
    height: 700px;
}

.envio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    
    color: white;
    background-color: #202C33;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

div > section > textarea{
    background-color: #354047;
    border-radius: 6px;
    border: none;
    width: 80%;
    height: 35px;
    font-size: 18px;
    color: white;
    
}

div > section > input{
    background-color: #202C33;
    border-style: none;
    margin-left: 30px;
}

div > section > input:hover{
    background-color: #71848f2f;
    border-radius: 2px;
    border-style: none;
    
}

p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color:#202C33 ;
    border-radius: 8px 8px 8px 8px;
    padding: 12px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    color: white;
    
}

input{
    background-color: #202C33;
    border-style: none;
    border-radius: 5px;
    margin-left: 12px;
    margin-bottom: 10px;
    color: white;
    padding: 5px;
}


.editar{
    background-color: #354047;
    color: white;
    border-radius: 6px;
    border: none;
    width: 80%;
    height: 35px;
}

h1{
    color: white;
    font-size: 1em;
    margin-left: 12px;
    margin-bottom: 0px;
}